<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Terminal</title>

	<link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
	<script src="//code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>

	<style>
		* {
			font-family: 'Source Code Pro', monospace;
			font-size: 1em;
		}
		textarea {
			background-color: transparent;
			border: none;
			resize: none;
			padding-left: 0;
		}
/*		.command > div {
			height: 40px;
		}
*/		*:focus {
			outline: none;
		}
		.command, .command * {
			width: 100%;
		}
		ul {
			list-style-type: none;
		}
	</style>

	<script>
		var availableCommands = {{ commands|safe }};
		var commandHistory = [];
		var commandHistoryPostition = 0;

		function latestCommand() {
			return $('.command').last();
		}

		function latestRequest() {
			return latestCommand().children('textarea').first()
		}

		function latestRequestText() {
			var promptLength = latestRequest().data('prompt').length;
			var request = latestRequest().val();
			return request.substring(promptLength);
		}

		function focusOnLatestCommand() {
			var l = latestRequest();
			l.focus();
			var t = l.val();
			l.val('');
			l.val(t);
		}

		function createNewCommand() {
			var template = document.getElementById('command-template');
			document.getElementsByTagName('main')[0].appendChild(template.content.cloneNode(true));
		}

		function updateCommandRequest(request) {
			request = request || '';
			var l = latestRequest();
			l.val(l.data('prompt') + request);
		}

		function updateCommandResponse(response) {
			latestCommand().children('div').first().html('<pre>' + response + '</pre>');
		}

		function runCommand(commandWithParams, callback) {
			commandHistoryPosition = commandHistory.push(commandWithParams);

			var command = commandWithParams.split(" ")[0]
			if (!availableCommands.includes(command)) {
				callback("Command '" + command + "' not found.");
				return;
			}

			switch(command) {
				case 'clear':
					$('.command').remove();
					callback('');
					break;
				default:
					$.ajax({
						url: "/run", 
						type: "POST",
						contentType: "application/json;",
						data: JSON.stringify({ command: commandWithParams }), 
						success: function(r) {
							callback(r);
						}
					});
			}
		}

		$(document)
			.ready( function() {
				createNewCommand();
				focusOnLatestCommand();
			})
			.on('input', 'textarea', function() {
				while($(this).outerHeight() < this.scrollHeight + parseFloat($(this).css("borderTopWidth")) + parseFloat($(this).css("borderBottomWidth"))) {
					$(this).height($(this).height() + 1);
				}
			})
			.on('input', 'textarea', function() {
				var defaultText = $(this).data('prompt');
				var defaultTextLength = defaultText.length;
				if(this.selectionStart === this.selectionEnd && this.selectionStart < defaultTextLength) {
					$(this).val(defaultText);
				}
			})
			.on('keypress', function(e) {
				if(e.which == 13) {
					e.preventDefault();
					latestRequest().prop('disabled', true);
					runCommand(latestRequestText(), function(r) {
						updateCommandResponse(r);
						createNewCommand();
						focusOnLatestCommand();
					});
				}
			})
			.keydown( function(e) {
				if(e.which == 38) {
					e.preventDefault();
					if (commandHistoryPosition !== 0) {
						commandHistoryPosition -= 1;
						updateCommandRequest(commandHistory[commandHistoryPosition]);
					}
				}

				if(e.which == 40) {
					e.preventDefault();
					if (commandHistoryPosition < commandHistory.length) {
						commandHistoryPosition += 1;
						updateCommandRequest(commandHistory[commandHistoryPosition]);
					}
				}
			});


	</script>
</head>
<body>
	<main></main>

	<template id="command-template">
		<div class='command'>
			<textarea style="height: 1em;" class='withPrefix' rows='1' data-prompt='{{ prompt }}'>{{ prompt }}</textarea>
			<div class='response'></div>
		</div>
	</template>

</body>
</html>